CT22_Preds/LSTM/LSTM_by_Steps/Data/
CT22_DAM_Data/Torch/BUM/ToBeProcessed/Archive/
CT22_DAM_Data/Faro/Processed/
CT22_DAM_Data/Torch/BUM/Processed/
CT22_Projector/01/
CT22_Projector/03
CT22_Projector/AWSLogs/
CT22_DAM_Data/Torch/Staps/Processed/
